.git
.gitignore
.gitmodules
.github
Dockerfile*
docker-compose*
.dockerignore
__pycache__
*.pyc
*.pyo
*.egg-info
.eggs
dist
build
.venv
venv
.env
.env.*
tests
.pytest_cache
*.md
!requirements.txt
LICENSE
.vscode
.idea
*.swp
*.swo