/.venv/
/.cadence/
/.idea
/envs/override.env

# OS files
.DS_Store

# IDE
.vscode/

# Python cache
**/__pycache__/
*.pyc
*.pyo
**/.pytest_cache/
/pylon_inventory/cache/*
/pylon_inventory/embeddings/*
/pylon_inventory/graphs/*
/pylon_inventory/plugins/*
/pylon_inventory/requirements/*
/pylon_inventory/pylon.db

# Node modules
static/ui/template/node_modules/
static/ui/template/.vite/

**.env
static/ui/template/node_modules/
